<!DOCTYPE html>
<html>
    <head>
        <title> Imprimir </title>
        <link href="../../css/imprimir_cientifico.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <main class="main">
            <div class="Cuerpo">
                <h2>{{ cientifico.nombre }}</h2>
                <h3>{{ cientifico.nacimiento }} - {{ cientifico.muerte }}</h3>
                <h4>{{ cientifico.lugar }}</h4><hr>
                {{ cientifico.texto|raw }}
            </div>
            <div class="Imagenes">
                {% for imagen in imagenes %}
                 <img class="Imagen" src="{{ imagen }}">
                {% endfor %}
            </div>
        </main>
    </body>
    <footer class="footer">
        <img id="logo" class="Imagen" src="../../img/logo.png" alt="Logo">
        <p id="fPar" Class="Pie">© 2023 - Hecho por Rubén Rosales Tapia</p>
    </footer>
</html>