{% extends "base.html" %}
    {% block head %}
        {{ parent() }}
        <link href="../css/portada.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block titulo %}
        {{ parent() }} - Portada
    {% endblock %}
    {% block principal %}
                <div id="cien1" class="Cientifico"><!--Todos los cientificos dirijen al mismo-->
                    <a href="../cientifico.php?id=1"><img id="img1" class="Imagenes" src="{{ imagenes[0] }}" alt="Albert Einstein"></a>
                    <h3 class="Nombres">{{ cientificos[0].nombre }}</h3>
                </div>
                <div id="cien2" class="Cientifico">
                    <a href="../cientifico.php?id=2"><img id="img2" class="Imagenes" src="{{ imagenes[1] }}" alt="Nicolás Copernico"></a>
                    <h3 class="Nombres">{{ cientificos[1].nombre }}</h3>
                </div>
                <div id="cien3" class="Cientifico">
                    <a href="../cientifico.php?id=3"><img id="img3" class="Imagenes" src="{{ imagenes[2] }}" alt="Gauss"></a>
                    <h3 class="Nombres">{{ cientificos[2].nombre }}</h3>
                </div>
                <div id="cien4" class="Cientifico">
                    <a href="../cientifico.php?id=4"><img id="img4" class="Imagenes" src="{{ imagenes[3] }}" alt="Nikola Tesla"></a>
                    <h3 class="Nombres">{{ cientificos[3].nombre }}</h3>
                </div>
                <div id="cien5" class="Cientifico">
                    <a href="../cientifico.php?id=5"><img id="img5" class="Imagenes" src="{{ imagenes[4] }}" alt="Michael Faraday"></a>
                    <h3 class="Nombres">{{ cientificos[4].nombre }}</h3>
                </div>
                <div id="cien6" class="Cientifico">
                    <a href="../cientifico.php?id=6"><img id="img6" class="Imagenes" src="{{ imagenes[5] }}" alt="Tale de Mileto"></a> 
                    <h3 class="Nombres">{{ cientificos[5].nombre }}</h3>
                </div>
    {% endblock %}